body {
          font-family: Arial, sans-serif;
            background-color: #f4f4f4;
           text-align: center;
            }
       header img {
            width: 25rem;
            height:25rem;
            position:flex;
          }